/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 980px;
  max-width: 1400px;
}

/* Layout */

main {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  gap: 40px;
  padding: 20px 0;
}

/* header and footer */

header {
  border-bottom: 5px solid #aa6666;
}

footer {
  border-top: 5px solid #aa6666;
}

footer p {
  text-align: center;
}
html {
  font-size: 16px;
}

body {
  font-family: "Merriweather", Georgia, serif;
  line-height: 1.6;
  letter-spacing: 0.015em;
  color: #222;
}

h1,
h2 {
  font-family: "Roboto Slab", "Rockwell", serif;
  letter-spacing: 0.05em;
}

h1 {
  font-size: 2.4rem;
  text-align: center;
  margin: 1.2rem 0;
}

h2 {
  font-size: 1.6rem;
  margin: 1.6rem 0 0; 
}

p {
  margin: 1rem 0;
}


section h2 + p {
  text-indent: 2rem;
}


a {
  color: #7a4444;
  text-decoration: underline;
}

a:visited {
  color: #5f3333;
}

a:hover,
a:focus {
  color: #aa6666;
  text-decoration: none;
}

a:focus {
  outline: none;
}


a[href^="http"]::after {
  content: "";
  display: inline-block;
  width: 0.85em;
  height: 0.85em;
  margin-left: 0.25em;
  background-image: url("external-link-52.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}



ul,
ol {
  margin: 1rem 0;
  line-height: 1.6;
  padding-left: 1.5rem;
}

li {
  margin: 0.4rem 0;
}

ul {
  list-style-type: square;
}